/*==============================================================
	Common Styles Initials
	==============================================================*/

html {
  -webkit-text-size-adjust: none;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: auto !important;
  scrollbar-color: #565656 #bfbfbf;
  scrollbar-width: thin;
}

input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  width: 100%;
  min-height: 100%;
  background: #EDF3F5;
  color:  #FFFFFF;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #FFFFFF;
}

a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

input,
textarea,
select {
  outline: none;
  resize: none;
}

a,
input,
button {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0;
}

img {
  border: 0;
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #58585B;
  margin: 0;
}

/* p:last-of-type {
  margin: 0;
} */

.header-wrap {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px 0 24px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left {
  display: flex;
  gap: 60px;
  align-items: center;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header-call a {
  color: #00CE54;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 12px;
}
.cta-btn.btn-border.mobile-btn {
  margin-bottom: 28px;
}
.cta-btn.btn-border.mobile-btn a {
  padding: 12px 24px;
}
.active-logo {
  display: none;
}
.header-call a:hover {
  color: #00A945;
}
.header-call svg path {
  transition: all 0.3s ease-in-out;
}
.header-call a:hover svg path{
  stroke:#00A945;
}
.menu-listing {
  display: flex;
  gap: 32px;
}
.menu-listing li a {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #FFFFFF;
  position: relative;
}
.menu-listing li a:hover {
  color: #00CE54;
}
/* .menu-listing .dropdown-menu {
  border-radius: 12px;
  padding: 16px 20px;
  margin-top: 8px !important;
} */

.menu-listing .dropdown-menu li a {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 0;
  background-color: transparent;
}
.menu-listing li a.page-active::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 41px;
  height: 6px;
  background-image: url('../images/shape-nav.png');
}
.menu-listing .dropdown-menu li a:hover {
  color: #00CE54;
}
.header-active {
  background-color: #FFFFFF;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 48px 0px rgba(0,0,0,0.8);
}
.header-active .menu-listing li a {
  color: #000000;
}
.header-active .menu-listing li a:hover {
  color: #00CE54;
}
.header-active .dropdown-toggle svg path {
  stroke: #000000;
}
.dropdown-toggle[aria-expanded="true"] svg{
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}
.header-active .header-call svg path {
  stroke: #000000;
}
.header-active .call-img  {
  border-radius: 100%;
  border: 1px solid #00CE54;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-active .main-logo {
  display: none;
}
.header-active .active-logo {
  display: block;
}
.header-active .btn-border {
  display: none;
}
.menu-open, .menu-close {
  display: none;
  border: 1px solid #00CE54;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
}
.header-active .menu-open svg path, .header-active .menu-close svg path {
  stroke: #000000;
}
.mobile-logo {
  display: none;
}
.mobile-btn {
  display: none;
}
.menu-listing .dropdown-toggle::after {
  display: none;
}
.mobile-btns {
  display: flex;
  align-items: center;
  gap: 8px;
}
.mobile-btns .cta-btn {
  display: none;
}
.header-call.mobile-menu a {
  padding-bottom: 0;
  color: #00CE54;
  font-weight: 500;
}
.header-call.mobile-menu a:hover {
  font-weight: 700;
}
.header-call.mobile-menu a svg path {
  stroke: #000000;
}
.header-call.mobile-menu .call-img {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #00CE54;
  border-radius: 100%;
}
.get-touch {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
}
.get-touch-wrap {
  display: none;
  background-color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.menu-listing ul li:last-child {
  display: block;
  padding: 18px 0 0;
}
.dropdown-menu.show {
  padding: 16px;
  margin-top: 8px !important;
}
.cta-btn.green-group a:after, .cta-btn.green-group a:before {
  position: absolute;
  content: '';
  top: -27px;
  left: -10px;
  background-image: url('../images/btn-up.png');
  width: 143px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: auto;
}
.cta-btn.green-group a:before {
  top: 54px;
  left: 0px;
  background-image: url('../images/btn-down.png');
}
.header-img-logo {
  transition: all 0.3s ease-in-out;
}
.header-active .cta-btn.green-group a:after, .header-active .cta-btn.green-group a:before {
  display: none;
}
.cta-btn.green-group {
  position: relative;
}
.cta-btn.green-group a:hover {
  background-color: #00A945;
}
.cta-btn.green-group a:hover:before {
  top: 46px;
}
.cta-btn.green-group a:hover:after {
  top: -20px;
}
.menu-close:hover, .menu-open:hover {
  background-color:#00CE54;
}
.signin-modal-wrap .modal-dialog{
  max-width: 660px;
}
.signin-modal-wrap .modal-footer {
  border: 0;
  padding: 0;
}
.signin-modal-wrap .modal-header {
  border: 0;
  padding: 0;
}
.signin-modal-wrap .modal-body {
  padding: 40px 0 20px;
}
.modal-header .close-btn {
  width: 48px;
  height: 48px;
}
.modal-header img {
  margin: 0 !important;
}
  .modal-footer > * {
  margin: 0;
}
.signin-modal-wrap .modal-content {
  border-radius: 12px;
  padding: 32px;
}
.modal-footer-content a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #00CE54;
  text-decoration: underline;
  text-decoration-color: #00CE54;
  text-underline-offset: 2px;
}
.modal-footer-content a:hover {
  color: rgba(0,206,31,0.7);
}
.signin-modal-wrap .modal-header button {
  border-radius: 100%;
  border: 1px solid #00A945;
  width: 28px;
  height: 28px;
  transition: all 0.3s ease-in-out;
}
.form-label {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  color: #929292;
  margin-bottom: 4px;
}
.form-control {
  height: 48px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #929292;
}
.signin-modal-wrap .modal-body .form-control:focus {
  box-shadow: none;
  border: 1px solid #D8D8D8;
}
.signin-modal-wrap .modal-header button:focus {
  box-shadow: none;
}
.signin-modal-wrap .modal-header button:hover {
  background-color: rgba(0,206,31,0.1);
}
.modal-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #000000;
  padding-top: 12px;
}
.gift-account {
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding-top: 5px;
}

@media (max-width: 1200px) {
  .menu-listing {
    gap: 22px;
  }
  .header-left {
    gap: 26px;
  }
  .header-call a {
    gap: 10px;
  }
  .menu-listing {
    display: flex;
  }
}

@media (max-width: 1024px) {
  .header-left {
    gap: 16px;
  }
  .menu-listing {
    gap: 20px;
  }
  .header-right {
    gap: 8px;
  }

}


@media (max-width: 991px) {
  .menu-open {
    display: flex;
  }
  .mobile-logo {
    display: block;
  }
  .main-logo, .header-active .active-logo {
    display: none;
  }
  .header-left {
    flex-wrap: wrap;
    gap: 32px;
    margin: 0 -15px;
  }
  header {
    display: block;
  }
  .header-left a {
    width: 100%;
  }
  .header-main-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
    padding: 0 15px;
  }
  header {

    /* height: 100vh;
    overflow: scroll; */
  }
  .menu-listing {
    width: 100%;
    background-color: #654595;
    display: none;
    padding-top: 60px;
    margin: -100px 0 0;
    padding: 100px 15px 0 15px;
    position: relative;
    min-height: 100vh;
    height: 100%; 
    overflow-y: auto; 
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .menu-listing li a {
    padding: 0 0 28px;
    font-size: 16px;
    font-weight: 600;
  }
  .header-active {
    background-color: #654595;
  }
  .mobile-btn {
    display: block;
  }
  .mobile-btn a {
    display: block !important;
    text-align: center;
  }
  .header-call.mobile-menu {
    display: block;
  }
  .header-active .menu-open svg path, .header-active .menu-close svg path {
    stroke: #FFFFFF;
  }
  .header-active .menu-listing li a {
    color: #FFFFFF;
  }
  .menu-listing li:last-child .get-touch-wrap {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .header-active .header-call.mobile-menu a{
    color: #00CE54;
  }
  .mobile-btns .cta-btn {
    display: block;
  }
  .header-right {
    display: none;
  }
  .menu-listing .dropdown-toggle {
    display: flex;
    justify-content: space-between;
  }

  .header-wrap {
    animation: slideIn 0.3s ease-in-out;
  }
  .header-active .menu-listing svg path {
    stroke: #FFF;
  }
}

@media (max-width: 767px) {
  .signin-modal-wrap .modal-dialog {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  .signin-modal-wrap .modal {
    height: auto;
  }
  .signin-modal-wrap .modal-content {
    border-radius: 0;
    border: 0;
    padding: 16px;
  }
  .modal-backdrop.show {
    opacity: 1;
    background-color: #FFF;
  }
  
}

@media (max-width: 475px) {
  .signin-modal-wrap .modal-footer {
    flex-wrap: wrap;
  }
  .signin-modal-wrap .modal-footer .cta-btn {
    width: 100%;
  }
  .signin-modal-wrap .modal-footer .cta-btn a {
    width: 100%;
    justify-content: center;
    margin-top: 40px;
  }
}


@keyframes slideIn {
  0% {
      transform: translateY(-300px);
  }
  100% {
      transform: translateY(0);
  }
}
