@media (max-width: 1400px) {
    .our-founder-content {
        padding: 45px 70px;
        min-height: 512px;
        min-width: 400px;
    }
    .our-founder-listing {
        max-width: 724px;
        padding: 34px 0 0;
    }
    .our-founder-listing li {
        padding: 36px 25px;
    }
    .our-founder-content::after {
        width: 160px;
        height: 160px;
        left: -16%;
    }
    .our-events-slide {
        gap: 46px;
    }
    .our-events-item {
        padding: 16px;
    }
    .our-events-wrap {
        padding-top: 60px;
    }
    .our-word-wrap {
        padding: 85px 0 70px;
    }
    .section-title {
        padding-bottom: 70px;
    }
    .our-word-review {
        padding: 36px 36px 36px 110px;
    }
    .word-image::before {
        left: 180px;
    }
    .word-image::after {
        right: 180px;
    }
    .our-instagram-slide.slick-initialized {
        margin: 0;
    }
    .gift-locations {
        gap: 40px;
    }
    .footer-top {
        gap: 60px;
    }
    .footer-top h6 {
        padding-bottom: 20px;
    }
    .footer-top-wrap {
        padding-bottom: 38px;
        padding-top: 160px;
    }
    .forgot-password-content {
        padding: 100px 0 162px;
    }
    .fp-img {
        margin-left: 18px;
    }
    .forgot-password-right-bottom {
        padding-top: 18px;
    }
    .forgot-password-content p {
        padding: 32px 0;
    }
    .forgot-password-left {
        margin-left: 110px;
    }
    .forgot-password-wrap {
        padding: 35px 0;
    }
    .contact-info-item {
        padding: 0 16px;
        padding-bottom: 32px;
    }
    .contact-info-listing {
        margin: 0 -16px;
    }
    .contact-images {
        padding-right: 60px;
    }
    .contact-form-wrap {
        padding: 50px 0 85px;
    }
    .contact-form-wrap h2 {
        padding-bottom: 38px;
    }
    .voluteering-opportunities {
        padding: 80px 0 170px;
    }
}

@media (max-width: 1200px) {
    .banner-img-slider-left, .banner-img-slider-right {
        gap: 10px;
    }
    .banner {
        padding: 225px 0 180px;
    }
    .banner-wrap .slick-slide {
        padding: 8px;
    }
    .our-vision-text {
        padding: 0 0 26px;
        gap: 20px;
    }
    .our-vision-content {
        padding: 55px 0 40px;
    }
    .our-vision-wrap {
        padding: 0 0 74px;
    }
    .our-founder-wrap {
        padding: 120px 0 80px;
    }
    .our-founder-content {
        padding: 30px;
        min-height: 450px;
        min-width: 375px;
    }
    .our-founder-content h4, .our-founder-content p {
        min-width: 100%;
    }
    .our-founder-content p {
        padding: 20px 0;
    }
    .our-founder-listing li {
        padding: 30px 20px;
    }
    .our-founder-listing {
        max-width: 620px;
    }
    .our-founder-content::before {
        width: 120px;
        height: 93px;
        top: -11%;
        left: -21%;
    }
    .our-founder-content::after {
        width: 140px;
        height: 140px;
        left: -13%;
        bottom: -16%;
    }
    .our-events-item {
        padding: 14px;
    }
    .our-events-slide {
        gap: 0;
        justify-content: space-between;
    }
    .our-events-wrap {
        padding-top: 35px;
    }
    .our-event-date {
        margin: 15px 0;
    }
    .our-events-item p {
        padding: 20px 0;
    }
    .events-cta {
        gap: 10px;
    }
    .our-events-item::after {
        left: 33%;
    }
    .our-events-item.event-line::after {
        left: 66.5%;
    }
    .section-title {
        padding-bottom: 55px;
    }
    .our-word-wrap {
        padding: 85px 0 70px;
        margin: 0 0 32px;
    }
    .our-word-review {
        padding: 30px 30px 30px 80px;
    }
    .our-word-content {
        gap: 40px;
    }
    .our-word-text:before {
        left: 18px;
        top: 30px;
    }
    .word-image::before{
        left: 118px;
        top: -40%;
    }
    .word-image::after{
        right: 160px;
        bottom: -25px;
    }
    .word-image::before, .word-image::after {
        width: 100px;
        height: 45px;
    }
    .our-instagram-wrap {
        padding: 32px 0 40px;
    }
    .our-newsletter {
        padding: 32px;
    }
    .our-newsletter form {
        padding: 20px 0 0;
    }
    .our-newsletter form {
        gap: 18px;
    }
    .footer-top {
        gap: 45px;
    }
    .gift-locations {
        gap: 15px;
    }
    .header-main-header .banner {
        padding: 170px 0;
    }
    .contact-info-list {
        padding: 24px 28px;
    }
    .contact-info-item {
        padding: 0 12px;
        padding-bottom: 24px;
    }
    .contact-info-listing {
        margin: 0 -12px;
    }
    .main-logo {
        width: 112px;
    }
    .contact-images {
        padding-right: 40px;
    }
    .contact-form-wrap h2 {
        padding-bottom: 30px;
    }
    .form-footer {
        padding-top:16px;
    }
    .contact-images-top {
        padding-bottom: 24px;
    }
    .cimage {
        margin-right: 24px;
    }
    .form-field {
        padding-bottom: 16px;
    }
    .contact-form-wrap {
        padding: 64px 0;
    }
    .voluteering-opportunities {
        padding: 64px 0 130px;
    }
    .voluteering-opportunities .cta-btn {
        padding-bottom: 78px;
    }
    .voluteering-opportunities h6 {
        padding: 60px 0 20px;
    }
    .voluteering-opportunities p {
        padding: 36px 0 42px;
    }
}

@media (max-width: 1024px) {
    .section-title {
        padding-bottom: 46px;
    }
    .banner-cta-btn {
        padding: 45px 0 80px;
    }
    .our-founder-content {
        padding: 26px;
    }
    .our-founder-wrap {
        padding: 100px 0 60px;
    }
    .our-founder-listing {
        max-width: 585px;
        padding: 24px 0 0;
    }
    .our-founder-content::before {
        width: 98px;
        height: 84px;
        top: -13%;
        left: -18%;
    }
    h2, .h2 {
        font-size: 44px;
        line-height: 63px;
    }
    .our-events-item.slick-slide {
        width: 450px !important;
    }
    .our-events-item p {
        padding: 16px 0;
        max-width: 400px;
    }
    .our-word-review a h5 {
        padding: 22px 0 2px;
    }
    .word-image::before {
        left: 99px;
        top: -51%;
    }
    .word-image::after {
        right: 127px;
        bottom: -35px;
    }
    .our-instagram-wrap {
        padding: 26px 0 32px;
    }
    .address-type {
        padding-bottom: 14px;
    }
    .social-bg {
        padding: 10px;
    }
    .footer-top {
        gap: 34px;
    }
    .footer-top-wrap {
        padding-bottom: 20px;
        padding-top: 130px;
    }
    .our-newsletter {
        padding: 24px;
    }
    .our-newsletter form {
        gap: 10px;
    }
    .footer-bottom-left {
        gap: 14px;
    }
    .gift-condition-listing li {
        padding-right: 24px;
    }
    .thank-you-wrap {
        padding: 220px 0 120px;
    }

    
}

@media (max-width: 991px) {
    .gift-collaboration-slider {
        padding: 48px 0 0;
    }
    .gift-collaboration-slider .slick-dots {
        margin-top: 40px;
    }
    .dropdown-menu.show { 
        width: 100%;
        margin-top: -24px !important;
    }
    .h1{
        font-size: 50px;
    }
    h2, .h2 {
        font-size: 40px;
        line-height: 56px;
    }
    .banner {
        padding: 130px 0;
    }
    .banner-cta-btn {
        padding: 40px 0 60px;
    }
    .banner-slide {
        padding-top: 15px;
        margin-top: -17%;
    }
    .our-vision-content {
        padding: 45px 0 30px;
    }
    .our-vision-wrap {
        padding: 0 0 44px;
    }
    .our-founder-wrap {
        padding: 74px 0 40px;
    }
    .our-founder h2 {
        max-width: 100%;
    }
    .our-founder-listing {
        max-width: 100%;
        padding: 24px 0;
    }
    .our-founder-listing li {
        padding: 24px 18px;
    }
    .our-founder-content {
        padding: 22px;
        min-width: 100%;
        min-height: 0;
        border-radius: 0;
        position: relative;
        top: auto;
    }
    .our-founder-content::after, .our-founder-content::before {
        display: none;
    }
    h4, .h4 {
        font-size: 27px;
        line-height: 40px;
    }
    .our-events-item.slick-slide{
        max-width: 340px !important;
    }
    .our-events-item::after {
        display: none;
    }
    .our-events-item.event-line::after {
        display: none;
    }
    .our-word-review {
        padding: 20px 20px 20px 55px;
        max-width: 100%;
    }
    .our-word-content {
        gap: 10px;
        justify-content: center;
    }
    .our-word-text:before {
        left: 6px;
        top: 17px;
        width: 42px;
        height: 36px;
    }
    .our-word-review a h5 {
        padding: 16px 0 0;
    }
    .our-word-slide.slick-slider {
        max-width: 500px;
    }
    .our-word-right {
        max-width: 180px;
    }
    .word-image::after {
        right: 109px;
        bottom: -38px;
    }
    .word-image::before {
        left: 113px;
        top: -45%;
    }
    .word-image::before, .word-image::after {
        width: 88px;
        height: 39px;
    }
    .section-title {
        padding-bottom: 40px;
    }
    .our-word-wrap {
        padding: 60px 0;
        margin: 0 0 26px;
    }
    .gift-locations {
        flex-wrap: wrap;
        row-gap: 22px;
        justify-content: space-between;
    }
    .location-address-type {
        max-width: 160px;
    }
    .footer-top {
        flex-wrap: wrap;
        gap: 28px;
    }
    .footer-top-left {
        max-width: 100%;
        width: 100%;
    }
    .address-type {
        padding-bottom: 10px;
    }
    .our-newsletter form {
        flex-wrap: wrap;
    }
    .our-newsletter-content h4 {
        text-align: center;
    }
    .footer-top-right {
        width: 100%;
    }
    .footer-top-center img {
        padding: 28px 0;     
    }
    .footer-top-center {
        border: 1px solid #EBE2F9;
        border-width: 1px 0 1px 0;
        width: 100%;
    }
    .footer-bottom {
        flex-wrap: wrap;
        gap: 32px;
    }
    .footer-bottom-right {
        flex-wrap: wrap;
    }
    .footer-charity {
        max-width: 206px;
        flex-wrap: wrap;
        align-items: flex-end;
        text-align: right;
    }
    .footer-bottom-left {
        width: 100%;
        gap: 0;
        justify-content: space-between;
    }
    .gift-condition-listing {
        gap: 50px;
        width: 100%;
    }
    .gift-condition-listing li {
        padding-right: 0;
    }
    .gift-created {
        padding-top: 12px;
    }
    .gift-condition-listing li:before {
        right: -30%;
    }
    .gift-condition-listing li:last-child:before {
        display: none;
    }
    .privacy-cookies-wrap {
        bottom: 20px;
        right: 20px;
    }
    .privacy-cookies {
        padding: 24px;
    }
    .privacy-cookies-body {
        padding: 10px 0 32px;
    }

    /* modal start */

    .rv-modal-wrap .modal-content::after {
        width: 350px;
        height: 350px;
        right: -28%;
        top: -2%;
    }
    .rv-modal-wrap .modal.show .modal-dialog {
        max-width: 545px;
    }
    .rv-modal-wrap .btn-close {
        right: -27%;
        top: -5%;
    }
    .rv-modal-wrap .modal-content {
        padding: 25px;
        margin-left: -52px;
    }
    .rv-modal-wrap .modal-body p:first-child {
        padding: 22px 0 18px;
    }
    .rv-modal-wrap .modal-footer a {
        margin-top: 25px;
    }
    .rv-modal-wrap .modal-body {
        max-width: 320px;
    }

    /* modal end */

    .thank-you-wrap {
        padding: 180px 0 100px;
    }
    .thank-you h1 {
        padding-top: 32px;
    }
    .thank-you p {
        padding: 10px 0 32px;
    }
    .contact-images {
        width: calc(100% - 378px);
        padding-right: 16px;
    }
    .contact-images-top {
        padding-bottom: 16px;
    }
    .cimage {
        margin-right: 16px;
    }
    .form-footer {
        padding-top: 10px;
    }
    .contact-form-wrap {
        padding: 55px 0;
    }
    .volunterring-area {
        width: 25%;
    }
    .voluteering-opportunities {
        padding: 52px 0 120px;
    }
    .voluteering-opportunities p {
        padding: 30px 0 36px;
    }
    .voluteering-opportunities .cta-btn {
        padding-bottom: 60px;
    }
    .voluteering-opportunities h6 {
        padding: 44px 0 16px;
    }
}

@media (max-width: 767px) {
    .section-title {
        padding-bottom: 34px;
    }
    h2,.h2 {
        font-size: 32px;
        line-height: 44px;
    }
    h4, .h4 {
        font-size: 24px;
        line-height: 32px;
    }
    .banner .h1 {
        font-size: 40px;
        max-width: 100%;
        line-height: 48px;
    }
    .banner {
        padding: 128px 0 280px;
    }
    .banner-cta-btn {
        flex-wrap: wrap;
        gap: 12px;
    }
    .banner-slide {
        margin-top: -45%;
    }
    .banner-cta-btn .cta-btn {
        width: 100%;
    }
    .banner-cta-btn .cta-btn a {
        width: 100%;
        text-align: center;
        display: block;
    }
    .our-vision-content {
        padding: 82px 0 48px;
    }
    .our-vision-wrap {
        padding:  90px 0 40px;
        margin: 300px 0 0;
    }
    .our-vision h2::after, .our-vision h2::before {
        width: 100px;
        height: 48px;
    }
    .our-vision h2, .our-vision-content {
        max-width: 100%;
    }
    .our-founder-wrap {
        padding: 40px 0 24px;
    }
    .our-founder-content p {
        padding: 20px 0 32px;
    }
    .our-founder-content .cta-btn a {
        display: block;
        text-align: center;
    }
    .our-founder-content {
        padding: 28px 16px;
    }
    .our-founder-listing li {
        display: flex;
        gap: 20px;
        align-items: center;
        width: 100%;
        padding: 8px 8px 8px 0;
        border-right: 0;
        border-bottom: 1px solid #EBE2F9;
    }
    .our-founder-listing li h3 {
        min-width: 100px;
        line-height: 60px;
    }
    .our-events-item p {
        max-width: 100%;
        padding: 12px 0 20px;
    }
    .our-events-item {
        padding: 8px;
    }
    .our-event-date {
        margin: 10px 0;
    }
    .our-word-right {
        display: none;
    }
    .our-word-slide.slick-slider {
        max-width: 100%;
    }
    .our-word-left {
        width: 100%;
    }
    .our-word-slide.slick-initialized .slick-slide {
        margin-right: 10px;
        margin-left: 7px;
        padding: 30px 30px 30px 80px;
    }
    .our-word-text:before {
        left: 16px;
        top: 30px;
    }
    .our-word-wrap {
        padding: 40px 0;
        margin: 0 0 16px;
    }
     .cta-form-btn {
        width: 100%;
        justify-content: center;
    }
    .our-newsletter-wrap {
        margin-bottom: -168px;
        margin-top: -186px;
    }
    .fieldset {
        max-width: 100%;
    }
    .location-address-type {
        max-width: 132px;
    }
    .privacy-cookies-wrap {
        bottom: 0;
        right: 0;
        left: 0;
    }
    .privacy-cookies {
        max-width: 100%;
        border-radius: 12px 12px 0 0;
        padding: 16px;
    }
    .btn-accept {
        padding: 12px 24px;
    }
    .privacy-cookies-footer .cta-btn a {
        padding: 12px 34px;
    }
    .privacy-cookies-footer {
        gap: 10px;
        justify-content: center;
    }
    .privacy-cookies-body {
        padding: 12px 0 28px;
        max-width: 100%;
    }
    .cookies-content  {
        text-align: center;
    }
    .cookie-preferences {
        padding: 0;
        margin: 0 0 -12px;
    }

    /* modal start */
    .rv-modal-wrap .modal-content::after {
        width: 263px;
        height: 263px;
        top: -30%;
        right: 12%;
    }
    .rv-modal-wrap .modal-content::before {
        top: 18%;
        left: -8%;
        right: 0;
    }
    .rv-modal-wrap .modal-header {
        padding-top: 140px;
    }
    .rv-modal-wrap .btn-close {
        right: 0;
        top: -35%;
    }
    .modal-backdrop.show {
        opacity: 0.5;
    }
    .rv-modal-wrap .modal.show .modal-dialog {
        max-width: 343px;
    }
    .rv-modal-wrap .modal-content {
        padding: 16px;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: 40px;
    }
    .rv-modal-wrap .modal-body p:first-child {
        padding: 20px 0 16px;
    }
    .rv-modal-wrap .modal-body > * {
        text-align: center;
    }
    .rv-modal-wrap h2 {
        text-align: center;
    }
    .rv-modal-wrap .modal-footer a {
        margin-top: 20px;
        justify-content: center;
        width: 100%;
    }
    .rv-modal-wrap .modal-footer .cta-btn {
        width: 100%;
    }
    .rv-modal-wrap .modal-body {
        max-width: 100%;
    }
    /* .rv-modal-wrap .modal {
        display: flex;
        justify-content: center;
    } */
    /* modal end */

    .forgot-password-left, .forgot-password-right {
        width: 100%;
        margin-left: 0;
        max-width: 100%;
        padding: 0 15px;
    }
    .forgot-password-wrap {
        padding: 15px 0;
        flex-direction: column-reverse;
    }
    .footer-top-left {
        padding-top: 70px;
    }
    .thank-you-wrap {
        padding: 130px 0 60px;
    }
    .thank-you h1 {
        padding-top: 10px;
    }
    .thank-you p {
        padding: 12px 0 36px;
    }
    .thank-u-img img {
        width: 98px;
        height: 106px;
    }
    .thank-u-img::before {
        width: 111px;
        height: 53px;
    }
    .banner-content::before {
        width: 126px;
        height: 76px;
        top: -20%;
        right: 0;
    }
    .header-main-header .banner {
        padding: 148px 0;
    }
    .contact-info {
        margin-top: -108px;
    }
    .contact-info-list {
        padding: 28px;
    }
    .contact-form {
        flex-wrap: wrap;
        row-gap: 32px;
    }
    .contact-images {
        width: 100%;
    }
    .contact-form-list {
        width: 100%;
    }
    .cimage {
        margin-right: 12px;
    }
    .contact-images-top {
        padding-bottom: 12px;
    }
    .contact-form-wrap {
        padding: 40px 0;
    }
    .gift-collaboration-slide.slick-initialized .slick-slide {
        margin-right: 70px;
    }
    .gift-collaboration-slider {
        padding: 36px 0 0;
    }
    .gift-collaboration-slider .slick-dots {
        margin-top: 30px;
    }
    .volunterring-area {
        width: 50%;
    }
    .voluteering-opportunities {
        padding: 40px 0 200px;
    }
    .voluteering-opportunities h6 {
        padding: 32px 0 20px;
    }
    .voluteering-opportunities .cta-btn {
        padding-bottom: 36px;
    }
    .voluteering-opportunities p {
        padding: 32px 0;
    }
    .not-found-img img {
        width: 225px;
        height: 154px;
    }
    .not-found h1 {
        padding-top: 12px;
    }
    .not-found p {
        padding: 12px 0 36px;
    }
    .gift-collaboration-wrap {
        padding: 20px 0 200px;
    }
}


@media (max-width: 475px) {
    .banner-slide {
        margin-top: -50%;
    }
    .our-vision-wrap {
        padding:  0 0 40px;
        margin: 300px 0 0;
    }
    .banner {
        padding: 128px 0 180px;
    }
    .gift-collaboration-slide.slick-initialized .slick-slide {
        margin-right: 24px;
    }
}