@charset "UTF-8";
/* CSS Document */

/*==============================================================
	Fonts
	==============================================================*/
  @font-face {
    font-family: 'Museo Sans 700';
    src: url('MuseoSans-700.woff2') format('woff2'),
        url('MuseoSans-700.woff') format('woff'),
        url('MuseoSans-700.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 500';
    src: url('MuseoSans-500Italic.woff2') format('woff2'),
        url('MuseoSans-500Italic.woff') format('woff'),
        url('MuseoSans-500Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 500';
    src: url('MuseoSans-500.woff2') format('woff2'),
        url('MuseoSans-500.woff') format('woff'),
        url('MuseoSans-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 100';
    src: url('MuseoSans-100Italic.woff2') format('woff2'),
        url('MuseoSans-100Italic.woff') format('woff'),
        url('MuseoSans-100Italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 700';
    src: url('MuseoSans-700Italic.woff2') format('woff2'),
        url('MuseoSans-700Italic.woff') format('woff'),
        url('MuseoSans-700Italic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 300';
    src: url('MuseoSans-300.woff2') format('woff2'),
        url('MuseoSans-300.woff') format('woff'),
        url('MuseoSans-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 900';
    src: url('MuseoSans-900Italic.woff2') format('woff2'),
        url('MuseoSans-900Italic.woff') format('woff'),
        url('MuseoSans-900Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 300';
    src: url('MuseoSans-300Italic.woff2') format('woff2'),
        url('MuseoSans-300Italic.woff') format('woff'),
        url('MuseoSans-300Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 900';
    src: url('MuseoSans-900.woff2') format('woff2'),
        url('MuseoSans-900.woff') format('woff'),
        url('MuseoSans-900.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 100';
    src: url('MuseoSans-100.woff2') format('woff2'),
        url('MuseoSans-100.woff') format('woff'),
        url('MuseoSans-100.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


/*==============================================================
	Bootstrap Hack
	==============================================================*/

.form-control::-webkit-input-placeholder {
  text-transform: capitalize;
  color: #929292;
  opacity: 1;
}

.form-control:-moz-placeholder {
  text-transform: capitalize;
  color: #929292;
  opacity: 1;
}

.form-control::-moz-placeholder {
  text-transform: capitalize;
  color: #929292;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  text-transform: capitalize;
  color: #929292;
  opacity: 1;
}

.nav>li>a:hover,
.nav>li>a:focus,
.nav>li.active>a,
.nav>li.active>a:focus {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/*==============================================================
Chrome Hack
==============================================================*/
textarea,
input[type="text"] {
  -webkit-appearance: none;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="file"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1310px;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  color: #FFFFFF;
}

h1,.h1 {
  font-family: "museo sans", serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 72px;
  color: #000000;
  text-align: left;
  margin: 0;
}
h2,.h2 {
  font-family: "museo sans", serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 68px;
  color: #000000;
  text-align: left;
  margin: 0;
}
h3,.h3 {
  font-family: "museo sans", serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  color: #000000;
  text-align: left;
  margin: 0;
}
h4,.h4 {
  font-family: "museo sans", serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #000000;
  text-align: left;
  margin: 0;
}
h5,.h5 {
  font-family: "museo sans", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #000000;
  text-align: left;
  margin: 0;
}
h6.h6 {
  font-family: "museo sans", serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-align: left;
  margin: 0;
}

/* light button */
.cta-btn a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #FFFFFF;
  border-radius: 40px;
  background-color: #00CE54;
  padding: 12px 24px;
  border: 1px solid transparent;
}
.cta-btn a:active {
  background-color: #00B64A;
}
.cta-btn.btn-disable a{
  background-color: #D8D8D8;
  color: #929292;
}
.cta-btn.lg-btn a {
  padding: 12px 74px;
  background-color: #00CE54;
}
.cta-btn.lg-btn a:hover {
  background-color: transparent;
  border: 1px solid #00CE54;
}

.cta-btn.btn-border a{
  border: 1px solid #00CE54;
  background-color: transparent;
}
.cta-btn.btn-border a:active {
  background-color: rgba(0, 206, 84, 0.1);
}

/* dark button */
.cta-btn.btn-bg-dark a {
  background-color: transparent;
  border: 1px solid #00CE54;
  color: #FFFFFF;
}
.cta-btn.btn-bg-dark a:active {
  background-color: rgba(0, 206, 84, 0.1);
}

.cta-btn.btn-dark-disable a {
  background-color: #AFAFAF;
  color: #929292;
}

.cta-btn.btn-bg-border a {
  border: 1px solid #FFFFFF;
}
.cta-btn.btn-bg-border a:active {
  background-color: rgba(255,255,255,0.1);
}

.cta-btn.btn-arrow a{
  border-radius: 100%;
  padding: 14px;
}
.cta-btn.btn-arrow a:active {
  background-color: #00B64A;
}
.cta-btn.btn-arrow-disable a {
  background-color: #D8D8D8;
}

.cta-btn.btn-border-arrow a {
  background-color: transparent;
  border: 1px solid #00CE54;
}
.cta-btn.btn-bg-border-arrow a {
  background-color: transparent;
  border: 1px solid #FFFFFF;
}
.cta-btn.btn-border-arrow a:active {
  background-color: rgba(0, 206, 84, 0.1);
}
.cta-btn.btn-bg-border-arrow a:active {
  background-color: rgba(255,255,255,0.1)
}



/* banner start */
.banner-overlay {
  position: absolute;
  z-index: 1;
  inset: 0;
  background: linear-gradient(0deg, rgba(101,69,149,1) 0%, rgba(101,69,149,0) 100%);
}
.banner-wrap {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.banner-wrap:before {
  background-color: rgba(101,69,149);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner-wrap .slick-slide {
  padding:14px;
}

.banner-wrap:after {
  background-image: url('../images/banner-pattern.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner {
  position: relative;
  z-index: 999;
  padding: 230px 0 360px;
}
.banner-slider {
  position: relative;
  z-index: 1;
}
.banner-slide {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: -21%;
}
.banner-img-slider-left, .banner-img-slider-right {
  display: flex;
  gap: 28px;
}
.banner-img-slider-right {
  align-items: flex-start;
}
.banner-img-slider-left {
  padding: 0 0 28px;
  align-items: flex-end;
}
.banner-img-slider-left img, .banner-img-slider-right img {
  border-radius: 12px;
  display: block;
}
.banner-cta-btn {
  padding: 60px 0 140px;
}
.banner h1 {
  max-width: 761px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
}
.banner-cta-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.our-vision-wrap {
  padding: 0 0 100px;
  margin: 350px 0 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/banner-pattern.png');
}
.our-vision h2 {
  text-align: center;
  max-width: 988px;
  margin: 0 auto;
  position: relative;
}
.slick-next.slick-arrow, .slick-prev.slick-arrow {
  display: none !important;
}
.our-vision-content {
  max-width: 620px;
  margin: 0 auto;
  padding: 80px 0 48px;
}
.our-vision-content p {
  text-align: center;
}
.our-vision h2::after, .our-vision h2::before {
  content: "";
  position: absolute;
  width: 140px;
  height: 64px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/green-shape-up.png');
}
.our-vision h2::after {
  right: 0;
  top: -38%;
}
.our-vision h2::before {
  left: 0;
  bottom: -38%;
  transform: rotate(180deg);
}
.our-vision .cta-btn {
  text-align: center;
}
.our-vision .cta-btn a {
  color: #000;
}
.our-vision-text {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  padding: 0 0 32px;
}
.our-vision-img {
  position: relative;
  background-image: url('../images/vision-shape.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 21px 15px;
}

.banner-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-img {
  position: relative;
}
.img-one {
  width: 443px;
  padding-bottom: 38.8%;
}
.img-two {
  width: 290px;
  padding-bottom: 25.3%;
}
.img-three {
  width: 400px;
  padding-bottom: 35%;
}
.img-four {
  width: 125px;
  padding-bottom: 16.45%
}
.img-five {
  width: 180px;
  padding-bottom: 23.67%
}
.one-img {
  width: 620px;
  padding-bottom: 100%;
}
.two-img {
  width: 179px;
  padding-bottom: 31.39%;
}
.three-img {
  width: 495px;
  padding-bottom: 47.1%;
}
.four-img {
  width: 125px;
  padding-bottom: 17.85%;
}
.two-slide-img {
  width: 125px;
  padding-bottom: 16.4%;
}
.five-img {
  width: 400px;
  padding-bottom: 38%;
}
.six-img {
  width: 121px;
  padding-bottom: 22.9%;
}
.three-img-banner {
  width: 400px;
  padding-bottom: 38%;
}

.three-slide-img {
  width: 180px;
  padding-bottom: 23.7%;
}
.four-slide-img {
  width: 443px;
  padding-bottom: 38.9%;
}
.five-slide-img {
  width: 193px;
  padding-bottom: 38.2%;
}

.our-founder-wrap {
  padding: 140px 0 100px;
  position: relative;
  background: rgb(250,246,255);
background: linear-gradient(0deg, rgba(250,246,255,1) 0%, rgba(255,255,255,1) 100%);
}
.our-founder {
  position: relative;
}
.our-founder-content {
  min-width: 528px;
  padding: 60px 80px;
  background-color: #654595;
  border-radius: 12px 0 0 12px;
  color: #FFFFFF;
  position: absolute;
  right: 0;
  top: 140px;
  background-image: url('../images/banner-pattern.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.our-founder-content h4, .our-founder-content p {
  color: #FFFFFF;
  max-width: 277px;
}
.our-founder-content p {
  padding: 32px 0 40px;
  font-size: 14px;
  line-height: 20px;
}
.our-founder-content .cta-btn a {
  border: 1px solid #FFFFFF;
}
.our-founder-content::before {
  content: "";
  position: absolute;
  background-image: url('../images/pink-layout.png');
  width: 193px;
  height: 149px;
  top: -16%;
  left: -30%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.our-founder-content::after {
  content: "";
  position: absolute;
  background-image: url('../images/founder-img.png');
  border-radius: 100%;
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: -10%;
  left: -22%;
}
.our-founder h2 {
  max-width: 620px;
}
.our-founder-listing {
  max-width: 780px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 0;
}
.our-founder-listing li {
  width: 33.33%;
  padding: 40px 28px;
  border: 1px solid #EBE2F9;
  border-width: 0 1px 1px 0;
}
.our-founder-listing li h3 {
  color: #00CE54;
}
.our-founder-item {
  display: flex;
  align-items: center;
  padding: 4px 0 0;
}
.founder-item-title {
  color: #58585B;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  padding-left: 16px;
  width: calc(100% - 48px);
}
.founder-item-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/founder-shape.png');
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-events-wrap {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
background: linear-gradient(159deg, rgba(251,248,255,1) 0%, rgba(251,248,255,1) 100%);
}
.over-events-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.over-events-text .cta-btn a {
  color: #000;
}
.events-cta {
  display: none;
  align-items: center;
  justify-content: space-between;
}
.events-cta .cta-btn a {
  color: #000;
}
.our-events-item a img {
  border-radius: 8px;
  display: block;
  cursor: pointer;
}
.our-events-item:hover .events-cta {
  display: flex;
  gap: 20px;
}
.our-events-item a h6:hover {
  color: #58585B;
}
.our-events-item p {
  padding: 12px 0 32px;
  font-size: 14px;
  line-height: 20px;
}
.our-events-slide {
  gap: 60px;
  display: flex;
  position: relative;
}
.our-events-item {
  width: 33.33%;
  transition: all 0.3s ease-in-out;
}
.our-events-item:hover{
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 12px;
}
.event-date-title, .event-price {
  color: #000000;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 14px;
  font-weight: 500;
}
.our-event-date {
  padding: 4px 8px;
}
.our-events-item h6 {
  width: 100%;
}
.event-price-img, .our-event-date {
  border-radius: 40px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  background-color: #F0E9FB;
  padding: 4px 8px;
  margin: 28px 0 12px;
}
.event-img {
  position: relative;
}
.event-price-img {
  position: absolute;
  top: 16px;
  left: 16px;
}
.our-events-item::after {
  content: "";
  width: 1px;
  height: 562px;
  border: 1px solid #EBE2F9;
  position: absolute;
  top: -5%;
  left: 32%;
}
.our-events-item.event-line::after {
  left: 66.5%;
}

