@charset "UTF-8";
/* CSS Document */
/*==============================================================
	Fonts
	==============================================================*/
  @font-face {
    font-family: 'Museo Sans 700';
    src: url('../Fonts/MuseoSansRounded-700.woff2') format('woff2'),
        url('../Fonts/MuseoSansRounded-700.woff') format('woff'),
        url('../Fonts/MuseoSansRounded-700.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 500';
    src: url('../Fonts/MuseoSansRounded-500Italic.woff2') format('woff2'),
        url('../Fonts/MuseoSansRounded-500Italic.woff') format('woff'),
        url('../Fonts/MuseoSansRounded-500Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 500';
    src: url('../Fonts/MuseoSansRounded-500.woff2') format('woff2'),
        url('../Fonts/MuseoSansRounded-500.woff') format('woff'),
        url('../Fonts/MuseoSansRounded-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 100';
    src: url('../Fonts/MuseoSansRounded-100Italic.woff2') format('woff2'),
        url('../Fonts/MuseoSansRounded-100Italic.woff') format('woff'),
        url('../Fonts/MuseoSansRounded-100Italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 700';
    src: url('../Fonts/MuseoSansRounded-700Italic.woff2') format('woff2'),
        url('../Fonts/MuseoSansRounded-700Italic.woff') format('woff'),
        url('../Fonts/MuseoSansRounded-700Italic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 300';
    src: url('../Fonts/MuseoSansRounded-300.woff2') format('woff2'),
        url('../Fonts/MuseoSansRounded-300.woff') format('woff'),
        url('../FontsMuseoSansRounded-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 900';
    src: url('../Fonts/MuseoSansRounded-900Italic.woff2') format('woff2'),
        url('../Fonts/MuseoSansRounded-900Italic.woff') format('woff'),
        url('../Fonts/MuseoSansRounded-900Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 300';
    src: url('../Fonts/MuseoSansRounded-300Italic.woff2') format('woff2'),
        url('../Fonts/MuseoSansRounded-300Italic.woff') format('woff'),
        url('../Fonts/MuseoSansRounded-300Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 900';
    src: url('../Fonts/MuseoSansRounded-900.woff2') format('woff2'),
        url('../Fonts/MuseoSansRounded-900.woff') format('woff'),
        url('../Fonts/MuseoSansRounded-900.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans 100';
    src: url('../Fonts/MuseoSansRounded-100.woff2') format('woff2'),
        url('../Fonts/MuseoSansRounded-100.woff') format('woff'),
        url('../Fonts/MuseoSansRounded-100.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


/*==============================================================
	Bootstrap Hack
	==============================================================*/

.form-control::-webkit-input-placeholder {
  text-transform: capitalize;
  color: #929292;
  opacity: 1;
}

.form-control:-moz-placeholder {
  text-transform: capitalize;
  color: #929292;
  opacity: 1;
}

.form-control::-moz-placeholder {
  text-transform: capitalize;
  color: #929292;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  text-transform: capitalize;
  color: #929292;
  opacity: 1;
}

.nav>li>a:hover,
.nav>li>a:focus,
.nav>li.active>a,
.nav>li.active>a:focus {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/*==============================================================
Chrome Hack
==============================================================*/
textarea,
input[type="text"] {
  -webkit-appearance: none;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="file"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1310px;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

h1,.h1 {
  font-family: 'Museo Sans Rounded 900';
  font-size: 60px;
  font-weight: 900;
  line-height: 72px;
  color: #000000;
  text-align: left;
  margin: 0;
}
h2,.h2 {
  font-family: "Museo Sans Rounded 700";
  font-size: 48px;
  font-weight: 700;
  line-height: 68px;
  color: #000000;
  text-align: left;
  margin: 0;
}
h3,.h3 {
  font-family: "Museo Sans Rounded 700";
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #000000;
  text-align: left;
  margin: 0;
}
h4,.h4 {
  font-family: "Museo Sans Rounded 700";
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #000000;
  text-align: left;
  margin: 0;
}
h5,.h5 {
  font-family: "Museo Sans Rounded 700";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #000000;
  text-align: left;
  margin: 0;
}
h6.h6 {
  font-family: "Museo Sans Rounded 700";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-align: left;
  margin: 0;
}

/* light button */
.cta-btn {
  position: relative;
  z-index: 100;
}

.cta-btn a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #FFFFFF;
  border-radius: 40px;
  background-color: #00CE54;
  padding: 12px 24px;
  border: 1px solid transparent;
  overflow: hidden;
  position: relative;  
}
.cta-btn a:focus, .cta-btn a:active {
  outline: 0;
  box-shadow: none;
  background: #00A945;
}
.cta-btn a .ripple-span {
  border-radius: 50%;
  background-color: #00a945;
  position: absolute;
  transform: scale(0);
  animation: ripple 1.2s ease-in;
  width: 20px;
  height: 20px;
}
.cta-form-btn:hover, .btn-accept:hover, .btn-close:hover {
  background-color: #00a945;
}
.cta-form-btn .ripple-span, .btn-close .ripple-span, .btn-accept .ripple-span {
  border-radius: 50%;
  background-color: #00a945;
  position: absolute;
  transform: scale(0);
  animation: ripple 1.2s ease-in;
  width: 20px;
  height: 20px;
}



@keyframes ripple {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(18);
    opacity: 0.4;
  }
}

.cta-btn a:active {
  background-color: #00B64A;
}

.cta-btn.btn-disable a{
  background-color: #D8D8D8;
  color: #929292;
}
.cta-btn.lg-btn a {
  padding: 12px 58px;
  background-color: #00CE54;
}
.cta-btn.lg-btn a:hover {
  background-color: transparent;
  border: 1px solid #00CE54;
}

.cta-btn.btn-border a{
  border: 1px solid #00CE54;
  background-color: transparent;
}
.cta-btn.btn-border a:hover {
  background-color: rgba(0,206,84,0.2);
}
.cta-btn.btn-border a .ripple-span {
  background-color: rgba(0,206,84,0.2);
}
.cta-btn.btn-border a:active {
  background-color: rgba(0, 206, 84, 0.1);
}



/* dark button */
.cta-btn.btn-bg-dark a {
  background-color: transparent;
  border: 1px solid #00CE54;
  color: #FFFFFF;
}
.cta-btn.btn-bg-dark a:active {
  background-color: rgba(0, 206, 84, 0.1);
}

.cta-btn.btn-dark-disable a {
  background-color: #AFAFAF;
  color: #929292;
}

.cta-btn.btn-bg-border a {
  border: 1px solid #FFFFFF;
}
.cta-btn.btn-bg-border a:active {
  background-color: rgba(255,255,255,0.1);
}

.cta-btn.btn-arrow a{
  border-radius: 100%;
  padding: 14px;
}
.cta-btn.btn-arrow a:active {
  background-color: #00B64A;
}
.cta-btn.btn-arrow-disable a {
  background-color: #D8D8D8;
}

.cta-btn.btn-border-arrow a {
  background-color: transparent;
  border: 1px solid #00CE54;
}
.cta-btn.btn-bg-border-arrow a {
  background-color: transparent;
  border: 1px solid #FFFFFF;
}
.cta-btn.btn-border-arrow a:active {
  background-color: rgba(0, 206, 84, 0.1);
}
.cta-btn.btn-bg-border-arrow a:active {
  background-color: rgba(255,255,255,0.1)
}
.cta-btn.btn-bg-border-arrow a .ripple-span {
  background-color: rgba(0,0,0,0.2);
}



/* banner start */
.banner-overlay img, .contact-overlay img{
  opacity: 6%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
}
.banner-wrap {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.banner-wrap:before {
  background: linear-gradient(180deg, #654595 32.66%, rgba(101, 69, 149, 0)), url(../images/banner-pattern.png);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner {
  position: relative;
  z-index: 999;
  padding: 230px 0 360px;
}
.banner-slider {
  position: relative;
  z-index: 1;
  margin-top: -19%;
}
/* .banner-slider .slick-list {
  position: absolute;
  margin-top: -21%;
} */

.slide-top.slides {
  align-items: end;
}
.slide-bottom.slides {
  align-items: start;
}
.banner-slide {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  border-radius: 12px;
  padding: 0 14px;
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: -21%; */
}

.slide-top, .slide-bottom {
  gap: 28px;
}
.slide-bottom {
  padding-top: 28px;
}

.banner-img-slider-left, .banner-img-slider-right {
  display: flex;
  gap: 28px;
}
.banner-img-slider-right {
  align-items: flex-start;
}
.banner-img-slider-left {
  padding: 0 0 28px;
  align-items: flex-end;
}
.banner-img-slider-left img, .banner-img-slider-right img {
  border-radius: 12px;
  display: block;
}
.banner-cta-btn {
  padding: 60px 0 140px;
}
.banner .h1 {
  max-width: 761px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
}
.banner-cta-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.our-vision-wrap {
  padding: 0 0 100px;
  margin: 140px 0 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/banner-pattern.png');
}
.our-vision h2 {
  text-align: center;
  max-width: 988px;
  margin: 0 auto;
  position: relative;
}
.banner-slide .slick-next.slick-arrow, .banner-slide .slick-prev.slick-arrow {
  display: none !important;
}
.our-vision-content {
  max-width: 620px;
  margin: 0 auto;
  padding: 80px 0 48px;
}
.our-vision-content p {
  text-align: center;
}
.our-vision h2::after, .our-vision h2::before {
  content: "";
  position: absolute;
  width: 140px;
  height: 64px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/green-shape-up.png');
}
.our-vision h2::after {
  right: 3%;
  top: -48%;
}
.our-vision h2::before {
  left: 3%;
  bottom: -48%;
  transform: rotate(180deg);
}
.our-vision .cta-btn {
  text-align: center;
}
.our-vision .cta-btn a {
  color: #000;
}
.our-vision-text {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  padding: 0 0 32px;
}
.our-vision-img {
  position: relative;
  background-image: url('../images/vision-shape.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 21px 15px;
}

.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our-founder-wrap {
  padding: 140px 0 100px;
  position: relative;
  background: rgb(250,246,255);
background: linear-gradient(0deg, rgba(250,246,255,1) 0%, rgba(255,255,255,1) 100%);
}
.our-founder {
  position: relative;
}
.our-founder-content {
  position: relative;
  padding: 60px 80px;
  color: #FFFFFF;
  margin-left: 177px;
}

.our-founder-content h4, .our-founder-content p {
  color: #FFFFFF;
  max-width: 277px;
}
.our-founder-content p {
  padding: 32px 0 40px;
  font-size: 14px;
  line-height: 20px;
}
.our-founder-content .cta-btn a {
  border: 1px solid #FFFFFF;
}
.our-founder-content::before {
  content: "";
  position: absolute;
  background-image: url('../images/pink-layout.png');
  width: 193px;
  height: 149px;
  top: -19%;
  left: -16%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* .our-founder-content::after {
  content: "";
  position: absolute;
  background-image: url('../images/founder-img.png');
  border-radius: 100%;
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: -10%;
  left: -22%;
} */
.our-founder h2 {
  max-width: 620px;
}
.our-founder-listing {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 0;
}
.our-founder-listing li {
  width: 33.33%;
  padding: 40px 28px;
  border: 1px solid #EBE2F9;
  border-width: 0 1px 1px 0;
}
.our-founder-listing li h3 {
  color: #00CE54;
}
.our-founder-item {
  display: flex;
  align-items: center;
  padding: 4px 0 0;
}
.founder-item-title {
  color: #58585B;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  padding-left: 16px;
  width: calc(100% - 48px);
}
.founder-item-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/founder-shape.png');
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-events-wrap {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
}
.over-events-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.over-events-text .cta-btn a {
  color: #000;
}
.events-cta {
  opacity: 0;
  display: flex;
  gap: 20px;
  align-items: center;
}
.events-cta .cta-btn a {
  color: #000;
}
.our-events-item a img {
  border-radius: 8px;
  cursor: pointer;

}
.our-events-slider {
  padding-top: 20px;
}
.our-events-item:hover .events-cta {
  opacity: 1;
}
.our-events-item a:hover h6 {
  color: #00B64A;
}
.events-cta .cta-btn.lg-btn a {
  justify-content: center;
}
.events-cta .cta-btn.btn-border {
  flex-shrink: 0;
}
.our-events-item p {
  padding: 12px 0 32px;
  font-size: 14px;
  line-height: 20px;
}
.our-events-slide {
  gap: 60px;
  display: flex;
  position: relative;
  row-gap: 10px;
}
.our-events-item {
  width: 33.33%;
  transition: all 0.3s ease-in-out;
  padding: 20px;
  background-color: transparent;
  border-radius: 12px;
  position: relative;
}
.our-events-slide.slick-initialized.slick-slider {
  display: block;
  position: relative;
}
.our-events-slide .slick-dots {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.our-events-slide .slick-dots button {
  border-radius: 100%;
  appearance: none;
  width: 8px;
  height: 8px;
  border: 1.2px solid #AFAFAF;
  background-color: transparent;
  font-size: 0;
}
.our-events-slide .slick-dots .slick-active button {
  background-color: #00CE54;
  border: 0;
}
.our-events-item:hover{
  background-color: #FFFFFF;
}
.our-events-item-box h6:hover a {
  color: #00a945;
}
.event-date-title, .event-price {
  color: #000000;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 14px;
  font-weight: 500;
}
.our-event-date {
  padding: 4px 8px;
}
.event-main-title {
  width: 100%;
}
.event-price-img, .our-event-date {
  border-radius: 40px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  background-color: #F0E9FB;
  padding: 4px 8px;
  margin: 28px 0 12px;
}
.event-img {
  position: relative;
}
.event-price-img {
  margin: 0;
  position: absolute;
  top: 16px;
  left: 16px;
}
.our-events-item::before {
  content: "";
  width: 1px;
  height: 562px;
  border: 1px solid #EBE2F9;
  position: absolute;
  top: 4%;
  right: -31px;
}
.our-events-item:last-child::before {
  display: none;
}


.custom-prev-arrow, .custom-next-arrow {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 37px;
  height: 37px;
  border: none;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  bottom: 0;
  background-image: url('../images/next-arrow.svg');
}
.custom-arrows {
  position: relative;
}
.custom-prev-arrow {
  left: 0;
  transform: rotate(180deg);
}
.custom-next-arrow {
  right: 0;
}
.custom-arrows .slick-arrow.slick-disabled {
  opacity: 0.4;
  cursor: auto;
}

.our-word-wrap {
  background-image: url('../images/banner-pattern.png');
  background-color:#00CE54;
  padding: 100px 0 80px;
  margin: 0 0 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.our-word-content {
  display: flex;
  gap: 60px;
  align-items: center;
}
.our-word-right {
  position: relative;
  max-width: 242px;
  margin: 0 auto;
}
.word-image::before, .word-image::after {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/gift-green-up.png');
  position: absolute;
  width: 140px;
  height: 64px;
  content: "";
}
.word-image::after {
  transform: rotate(180deg);
  bottom: -45px;
  right: 216px;
}
.word-image::before {
  left: 216px;
  top: -45px;
}
.our-word h2 {
  color: #FFFFFF;
}
.section-icon {
  background-image: url('../images/insta-bg.png');
  border-radius: 100%;
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-title {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 80px;
}
.our-word-review {
  padding: 40px 40px 40px 120px;
  border-radius: 12px;
  background-color: #FFFFFF;
  max-width: 730px;
  position: relative;
}
.our-word-review a h5 {
  padding: 28px 0 4px;
}
.our-word-review a h5:hover {
  color: #AFAFAF;
}
.our-word-text:before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/gift-quotes.png');
  width: 52px;
  height: 42px;
  left: 40px;
  top: 40px;
  position: absolute;
}
.our-instagram-slide .slick-track
{
    display: flex !important;
}
.gift-collaboration-slide .slick-track
{
    display: flex !important;
}

.our-word-text p:last-child {
  font-weight: 500;
}
.our-instagram-item img {
  object-fit: cover;
  cursor: pointer;
}
.our-instagram-slide.slick-initialized .slick-slide {
  margin-left: 2px
}
.our-instagram-item {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.our-instagram-slide.slick-initialized  {
  margin-top: -22px;
}
.our-word-slide.slick-slider {
  max-width: 730px;
}
.our-word-slide .slick-dots button {
  border-radius: 100%;
  appearance: none;
  width: 8px;
  height: 8px;
  border: 1.2px solid #00A945;
  background-color: transparent;
  font-size: 0;
  margin-top: 32px;
}
.our-word-slide .slick-dots .slick-active button {
  background-color: #FFFFFF;
  border: 0;
}
.our-word-slide .slick-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.bg-prev-arrow, .bg-next-arrow {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 37px;
  height: 37px;
  border: none;
  bottom: 0;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  background-image: url('../images/white-arrow.png');
  background-color: transparent;
}
.bg-next-arrow {
  left: 0;
  transform: rotate(180deg);
}
.bg-prev-arrow {
  right: 0;  
}
.insta-item-list {
  display: flex;
  align-items: center;
  gap: 4px;
}
.insta-item-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.our-instagram-item:hover .insta-item-overlay{
  opacity: 1;
}
.our-instagram-slide.slick-initialized .slick-slide {
  width: auto !important;
}
.insta-like-count {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #FFFFFF;  
}
.our-instagram-wrap {
  padding: 40px 0 50px;
}
.gift-collaboration-wrap {
  padding: 50px 0 110px;
}
.gift-collaboration-slider {
  padding: 80px 0 0;
}
.gift-collaboration-slide.slick-initialized .slick-slide {
  width: auto !important;
  margin-right: 140px;
}
.gift-collaboration-slider .slick-dots {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 60px;
}
.gift-collaboration-slider .slick-dots button {
  border-radius: 100%;
  appearance: none;
  width: 8px;
  height: 8px;
  border: 1.2px solid #AFAFAF;
  background-color: transparent;
  font-size: 0;
  margin: 0;
}
.gift-collaboration-slider .slick-dots .slick-active button {
  background-color: #00A945;
  border: 0;
}
.gift-collaboration h2 {
  text-align: center;
}
.our-newsletter {
  padding: 40px;
  border: 1px solid #F0E9FB;
  border-radius: 12px;
  position: relative;
  z-index: 1;
  background-color: #FFFFFF;
}
.our-newsletter::after {
  position: absolute;
  content: "";
  background-image: url('../images/black-pattern.png');
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 4%;
}
.our-newsletter::before{
  position: absolute;
  content: "";
  background: radial-gradient(89.4% 86.08% at 65.31% 68.5%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  left: 0;
  border-radius: 12px;
  top: 0;
  width: 100%;
  height: 100%;
}
.our-newsletter-content {
  position: relative;
  z-index: 1;
}
.our-newsletter-wrap {
  position: relative;
  margin: -100px 0;
}
.our-newsletter-wrap .container {
  position: relative;
  z-index: 2;
}
/* .our-newsletter-wrap:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50%;
  background-color: #FBF8FF;
  width: 100%;
  z-index: 1;
} */

.our-newsletter form{
  display: flex;
  gap: 24px;
  padding: 28px 0 0;
}
.fieldset {
  width: 100%;
  max-width: 322px;
}
.col-fieldset {
  padding-bottom: 20px;
}
.col-fieldset .form-check:last-child  {
  padding-top: 8px;
}
.form-check {
  margin: 0;
}
.fieldset input {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #929292;
  height: 48px;
}
.form-check-input:checked {
  border: 1.2px solid #00a945;
  background-color: #00B64A;
}
.form-check-input:focus {
  box-shadow: none;
  border: 1.2px solid #58585B;
}
.form-btn {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
}
.fieldset input:focus {
  box-shadow: 0 10px 10px 0 #fff;
  border: 1px solid #D8D8D8;
}
.cta-form-btn {
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
  background-color: #00CE54;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 24px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.form-check-label {
  font-size: 14px;
  line-height: 20px;
  color: #58585B;
  font-weight: 400;
}
.form-check-label a {
  color: #00CE54;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: #00CE54;
}
.counter-number {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: #00CE54;
  font-family: "Museo Sans Rounded 700";
}

/* 
footer start */
.footer-wrap {
  background-color: #FBF8FF;
}
.footer-bottom-wrap {
  padding: 20px 0;
  background-color: #654595;
}
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-charity {
  display: flex;
}
.footer-right, .footer-charity-no {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
}
.footer-bottom-left {
  display: flex;
  align-items: center;
  gap: 24px;
}
.created-icon {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(65.67% 65.67% at 50.49% 48.86%, #E94F8C 0%, #E94F8C 6%, #E94F8C 28%, #D2166A 71%, #D2166A 100%);
}
.footer-bottom-right {
  display: flex;
  align-items: center;
}
.gift-condition-listing {
  display: flex;
}
.gift-condition-listing li {
  padding-right: 32px;
  position: relative;
}
.gift-condition-listing li:before {
  content: '';
  position: absolute;
  border: 1px solid #8D6AC2;
  height: 16px;
  width: 1px;
  top: 18%;
  right: 12%;
}
.gift-condition-listing li a:hover {
  color: #00B64A;
}
.gift-condition-listing li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}
.gift-created {
  display: flex;
  gap: 8px;
  align-items: center;
}
.footer-top-left {
  max-width: 678px;
}
.gift-locations {
  display: flex;
  gap: 52px;
}
.address-type {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  padding-bottom: 24px;
}
.location-address-type a{
  color: #58585B;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.location-address-type a:hover {
  color: #00B64A;
}
.location-address-type {
  max-width: 135px  ;
}
.small-address {
  max-width: 116px;
}
.footer-top-wrap {
  padding-bottom: 60px;
  padding-top: 200px;
}
.footer-top {
  display: flex;
  gap: 105px;
}
.footer-top h6 {
  padding-bottom: 28px;
}
.footer-top-center img {
  padding-top: 56px;
}
.history-gift-text h6 a:hover {
  color: #00B64A;
}
.social-bg {
  background-image: url('../images/fb-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
.social-bg.twitter {
  background-image: url('../images/twitter-logo.png');
}
.social-bg.yt {
  background-image: url('../images/yt-logo.png');
}
.social-bg.insta {
  background-image: url('../images/insta-logo.png');
}
.social-bg.linkedin {
  background-image: url('../images/linkedin-logo.png');
}
.social-media-listing {
  display: flex;
  align-items: center;
  gap: 8px;
}
.social-bg:hover svg {
  fill: #8D6AC2;
}

.privacy-cookies-wrap {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
}
.privacy-cookies {
  padding: 32px;
  background-color: #fff;
  border-radius: 12px;
  max-width: 464px;
}
.privacy-cookies-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close-btn {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid #00CE54;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.close-btn:hover {
  background-color: rgba(0,206,84,0.1);
}
.privacy-cookies-footer .btn-border a {
  color: #000;
  padding: 12px 48px;
}

.privacy-cookies-footer {
  display: flex;
  gap: 20px;
}
.privacy-cookies-body {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
  padding: 12px 0 48px;
  max-width: 348px;
}
.privacy-cookies-body a {
  text-decoration: underline;
  color: #00CE54;
  font-weight: 600;
}
.btn-accept {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  gap: 8px;
  align-items: center;
  border: 0;
  background-color: #00CE54;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 12px 42px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.cookie-preferences .form-check-label{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #58585B;
}
.cookie-preferences {
  padding: 24px 0 0;
  margin-bottom: -25px;
  display: none;
}
.cookie-preferences .form-check {
  margin: 0 0 12px;
}
.cookie-preferences .form-check-input {
  box-shadow: none;
}
.cookie-preferences .form-check-input:checked {
  background-color: #00CE54;
  border: 0;
}
.form-switch .form-check-input {
  background-color: transparent;
  height: 24px;
  width: 40px;
  margin: 0;
}
.form-check.form-switch {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 0;
}
.cookie-preferences.active {
  display: block;
}
.privacy-cookies-wrap.close {
  display: none;
}

.forgot-password-wrap {
  padding: 40px 0;
  background:radial-gradient(71.35% 71.35% at 65.91% 9.65%, rgba(251, 248, 255, 0) 0%, #FBF8FF 100%),  url('../images/banner-pattern.png');
}
.forgot-password-right {
  margin-left: auto;
}
.main-logo {
  top: 7.5%;
  left: 8.5%;
  z-index: 1;
}
.forgot-password-content {
  padding: 180px 0 186px;
}
.forgot-cta {

  padding-top: 40px;
}
.forgot-cta .btn-border a {
  color: #000;
}
.forgot-password-left{
  max-width: 400px;
  margin-left: 160px;
  width: 50%;
}
.forgot-password-right, .register-right {
  width: 50%;
}
.forgot-password-right-bottom, .forgot-password-right-top, .register-right-top, .register-right-bottom, .register-right-center {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.forgot-password-right-bottom, .register-right-bottom {
  padding-top: 28px;
  align-items: flex-start;
}
.forgot-password-right-center, .register-right-center {
  padding-top: 28px;
  align-items: flex-start;
}
.fp-img{
  position: relative;
  margin-left: 28px;
}
.rimg-one {
  width: 137px;
  padding-bottom: 14.4%;
}
.rimg-two {
  width: 125px;
  padding-bottom: 18.9%;
}
.rimg-three {
  width: 449px;
  padding-bottom: 33.2%;
}
.rimg-five {
  width: 400px;
  padding-bottom: 45.3%;
}
.rimg-six {
  width: 430px;
  padding-bottom: 33.15%;
}
.rimg-seven {
  width: 230px;
  padding-bottom: 33.15%;
}
.rimg-8 {
  width: 172px;
  padding-bottom: 39.7%;
  margin-top: 28px;
  margin-left: auto;
}
.rimg-four {
  width: 260px;
  padding-bottom: 100%;
}
.fimg-one {
  width: 137px;
  padding-bottom: 17.3%;
}
.fimg-two {
  width: 125px;
  padding-bottom: 22.7%;
}
.fimg-three {
  width: 449px;
  padding-bottom: 39.8%;
}
.fimg-four {
  width: 260px;
  padding-bottom: 36.5%;
}
.fimg-five {
  width: 400px;
  padding-bottom: 54.4%;
}
.fp-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}
.forgot-password-content p {
  padding: 40px 0;
}
.form-control, .form-label{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #929292;
  margin: 0;
}
.form-control {
  border: 1px solid #D8D8D8;
  height: 48px;
}
.form-control:focus {
  box-shadow: none;
  border-color: #00B64A;
}

.form-control:hover{
  border: 1px solid #AFAFAF;
  cursor: pointer;
}
.form-control:active{
  border: 1px solid #00B64A;
}

.form-label {
  font-size: 10px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

/* register :start */
.register-wrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 0;
  min-height: 100vh;
  background:radial-gradient(71.35% 71.35% at 65.91% 9.65%, rgba(251, 248, 255, 0) 0%, #FBF8FF 100%);
}
.register {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.register-header {
  top: 7.5%;
  left: 8.5%;
  z-index: 1;
  max-width: 544px;
}
.register-left {
  margin-left: 160px;
  max-width: 544px;
  padding: 118px 0 0;
}
.register::before {
  content: "";
  position: absolute;
  background-image: url('../images/black-pattern.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 8%;
  z-index: -1;
}

.register-left p {
  padding: 12px 0 40px;
}
.register-signin {
  font-size: 14px;
  line-height: 20px;
  color: #000;
  font-weight: 400;
}
.register-signin a {
  font-weight: 600;
  color: #00CE54;
  text-decoration: underline;  
  text-decoration-color: #00ce54;
}
.fimg-six {
  width: 430px;
}
/* register-end */


/* modal start */
.rv-modal-wrap .modal-body > * {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #58585B;
}
.rv-modal-wrap .modal-body p:first-child {
  font-weight: 600;
  color: #000;
  padding: 24px 0 20px;
}
.rv-modal-wrap .modal-dialog {
  position: relative;
}
.rv-modal-wrap .modal-content::after, .rv-modal-wrap .modal-content::before {
  content: "";
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
}
.rv-modal-wrap .modal-content::after {
  width: 408px;
  height: 408px;
  border-radius: 100%;
  right: -34%;
  top: -10%;
  background-size: cover;
  background-image: url('../images/modal-become.png');
}
.rv-modal-wrap .modal-content::before {
  width: 177px;
  height: 78px;
  right: 15%;
  bottom: -2%;
  background-size: contain;
  background-image: url('../images/pink-modal.png');
}
.rv-modal-wrap .modal-body {
  padding: 0;
  max-width: 340px;
}
.rv-modal-wrap .modal-footer a {
  padding: 12px 40px;
  margin-top: 32px;
}
.rv-modal-wrap .modal-content {
  padding: 34px;
  overflow: visible;
  border-radius: 12px;
  margin-left: -115px;
}
.rv-modal-wrap .modal.show .modal-dialog {
  max-width: 612px;
}
.rv-modal-wrap .modal-header {
  padding: 0;
  border: 0;
  display: block;
}
.rv-modal-wrap .btn-close {
  background-image: url('../images/white-close.png');
  border-radius: 100%;
  background-color: rgba(0,0,0,0.2);
  border: 1px solid #00CE54;
  position: absolute;
  right:-35%;
  top: -10%;
  width: 32px;
  height: 32px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.rv-modal-wrap .btn-close:hover {
  background-color: rgba(0,206,31,0.2);
}

.modal-backdrop.show {
  background:
  linear-gradient(180deg, #654595 32.66%, rgba(101, 69, 149, 0.8) 100%);
}
.rv-modal-wrap .modal-footer {
  justify-content: flex-start;
  padding: 0;
  border: 0;
}
/* modal end */

.thank-you-wrap {
  position: relative;
  padding: 254px 0 174px;
}
.thank-you-wrap:before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url('../images/banner-pattern.png');
}
.thank-u-img {
  position: relative;
  text-align: center;
}
.thank-u-img::before {
  content: "";
  position: absolute;
  top: -40%;
  width: 138px;
  height: 66px;
  background-size: contain;
  background-image: url('../images/green-up-layout.png');
}
.thank-you h1 {
  text-align: center;
  padding-top: 40px;
}
.thank-you p {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  padding: 12px 0 40px;
}
.thank-you .cta-btn {
  text-align: center;
}
.thank-you .cta-btn a, .not-found .cta-btn a {
  color: #000;
}
.not-found-text {
  font-weight: "Museo Sans Rounded 900";
  font-size: 100px;
  font-weight: 900;
  line-height: 120px;
  color: #00CE54;
  text-align: center;
  position: relative;
}

.not-found-wrap {
  padding: 308px 0 172px;
  text-align: center;
}
.not-found p {
  padding: 12px 0 40px;
  text-align: center;
}
.not-found h1 {
  padding-top: 60px;
  text-align: center;
}

.header-main-header .banner {
  padding: 212px 0 208px;
}
.banner-content {
  max-width: 620px;
  position: relative;
}
.banner-inner-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  padding-bottom: 12px;
  opacity: 0.5;
}
.banner-content h1 {
  color: #fff;
}

.banner-content::before {
  position: absolute;
  content: "";
  width: 205px;
  height: 123px;
  top: -25%;
  right: -15%; 
  background-image: url('../images/banner-inner-green.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.contact-info-list {
  width: 100%;
  background-color: #fff;
  padding: 28px 32px;
  border-radius: 12px;
  border: 1px solid #F0E9FB;
  box-shadow: 0px 32px 140px -16px rgba(0,0,0,0.08);
}
.contact-info-content {
  padding: 20px 0 0;
}
.contact-info-listing {
  margin: 0 -22px;

}
.contact-info-item {
  padding: 0 22px;
  padding-bottom: 44px;
}
.contact-info-area {
  padding-top: 8px;
}
.contact-info-area a {
  color: #58585B;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding-left: 8px;
  width: calc(100% - 36px);
}

.contact-info-area a:hover {
  color: #00CE54;
}
.contact-info {
  margin-top: -135px;
  position: relative;
  z-index: 1;
}
.contact-area-img:hover {
  background-color: rgba(0, 206, 84, 0.1);
}
.contact-area-img {
  border-radius: 100%;
  border: 1px solid #00CE54;
  width: 36px;
  height: 36px;
  display: flex;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.header-main-header .banner-wrap:before {
  background: linear-gradient(180deg, #654595 32.66%, rgba(101, 69, 149, 0)), url(../images/banner-pattern.png);
}
.field-required {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #58585B;
  text-transform: uppercase;
}
.form-field {
  padding-bottom: 20px;
}
.form-footer {
  padding-top: 20px;
}
.contact-form-wrap {
  padding: 76px 0 100px;
  background-color: #fff;
}
.contact-form-area {
  max-width: 510px;
  margin-left: 105px;
  margin-right: 15px;
}
#registerVolunteer {
  background-color: rgba(101, 69, 149, 0.2)
}
.contact-info-wrap {
  background-color: #fff;
}
.contact-form-wrap h2 {
  padding-bottom: 46px;
}
.form-field textarea {
  height: 160px;
}
.contact-images {
  width:50%
}
.contact-form-list {
  width: 50%;
}

.voluteering-opportunities .h2 {
  text-align: center;
  color: #fff;
}
.voluteering-opportunities p{
  text-align: center;
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  padding: 40px 0 48px;
  max-width: 1000px;
  margin: 0 auto;
}
.voluteering-opportunities .cta-btn {
  padding-bottom: 100px;
}
.voluteering-opportunities-wrap {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.voluteering-opportunities h6 {
  color: #fff;
  text-align: center;
  padding: 88px 0 26px;
  border-top: 1px solid rgba(255,255,255,0.4);
}
.voluteering-opportunities {
  padding: 100px 0 200px;
  text-align: center;
  position: relative;
}

.voluteering-opportunities-wrap:before {
  background:linear-gradient(180deg, #373737 32.66%, rgba(101, 69, 149, 0)), url(../images/banner-pattern.png);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.volunterring-area {
  width: 20%;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}
.volunterring-listing {
  width: 100%;
}
.voluterring-item-title img {
  opacity: 0;
}
.voluterring-item-box {
  padding: 20px;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  margin: 0 auto;
  width: fit-content;
}
.voluterring-item-box:hover  {
  background: linear-gradient(0deg, rgba(0, 206, 84, 0.8), rgba(0, 206, 84, 0.8)),
  linear-gradient(180deg, rgba(0, 206, 84, 0.6) 32.66%, rgba(0, 206, 84, 0) 100%);
}
.voluterring-item-box:hover .voluterring-item-title img {
  opacity: 1;
}
.voluterring-item-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #F0E9FB;
  text-align: left;
  padding-top: 20px;
  gap: 8px;
  text-align: center;
}
.voluterring-item-box:hover .voluterring-item {
  background-image: url("data:image/svg+xml,%3Csvg width='128' height='128' viewBox='0 0 128 128' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M84.0368 123.573C69.7336 127.441 55.447 130.008 42.0227 123.604C20.54 113.357 3.01193 97.4502 0.957606 70.4666C0.0806491 58.9478 0.329933 49.1978 2.89331 40.7215C5.45137 32.2628 10.3235 25.0421 18.7524 18.5959C19.0695 18.3533 19.3843 18.1124 19.6968 17.8733C27.201 12.1309 33.399 7.38808 39.9711 4.31161C46.7899 1.11964 54.0182 -0.27891 63.5156 0.932482C65.7023 1.21138 67.903 1.4365 70.1058 1.66184C83.686 3.05099 97.3467 4.44838 108.28 18.5057C109.347 19.8777 110.433 21.2043 111.517 22.5288C117.99 30.4363 124.402 38.2704 126.423 55.2591C127.606 65.1974 127.931 72.1484 126.806 78.761C125.683 85.3689 123.104 91.6758 118.418 100.31C112.29 111.599 101.753 118.782 84.0368 123.573Z' fill='%23FFFFFF' fill-opacity='0.08' stroke='%23FFFFFF'/%3E%3C/svg%3E%0A");
}
.voluterring-item{
  width: 128px;
  height: 128px;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='128' height='128' viewBox='0 0 128 128' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M84.0368 123.573C69.7336 127.441 55.447 130.008 42.0227 123.604C20.54 113.357 3.01193 97.4502 0.957606 70.4666C0.0806491 58.9478 0.329933 49.1978 2.89331 40.7215C5.45137 32.2628 10.3235 25.0421 18.7524 18.5959C19.0695 18.3533 19.3843 18.1124 19.6968 17.8733C27.201 12.1309 33.399 7.38808 39.9711 4.31161C46.7899 1.11964 54.0182 -0.27891 63.5156 0.932482C65.7023 1.21138 67.903 1.4365 70.1058 1.66184C83.686 3.05099 97.3467 4.44838 108.28 18.5057C109.347 19.8777 110.433 21.2043 111.517 22.5288C117.99 30.4363 124.402 38.2704 126.423 55.2591C127.606 65.1974 127.931 72.1484 126.806 78.761C125.683 85.3689 123.104 91.6758 118.418 100.31C112.29 111.599 101.753 118.782 84.0368 123.573Z' fill='%2300CE54' fill-opacity='0.08' stroke='%2300CE54'/%3E%3C/svg%3E%0A");
}

.footer-main-footer .footer-top-wrap {
  display: none;
}

.banner-inner .banner-content {
  text-align: center;
  max-width: 100%;
}
.banner-inner .banner-content::before {
  display: none;
}
.banner-inner .banner {
  padding: 198px 0 100px;
}

.about-main-tabs .nav-link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #000000;
  padding: 0;
}
.about-main-tabs .nav-pills {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 34px 0;
  border-top: 1px solid #F0E9FB;
  background-color: #F0E9FB;
  border-bottom: 1px solid #F0E9FB;
  margin: 0 !important;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: transparent;
  color: #000000;
}
.nav-link.active {
  position: relative;
}
.about-main-tabs .nav-link:hover, .nav-link.active:hover {
  color: #00CE54;
}
.about-main-tabs .nav-link.active:before {
  content: "";
  position: absolute;
  bottom: -7px;
  width: 80px;
  height: 6px;
  background-image: url('../images/tabs-before.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.about-meet-tabs .nav-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #000;
  padding: 12px 24px;
  background-color: #F4F4F4;
  border-radius: 42px;
}
.about-meet-tabs .nav-link:hover {
  background-color: #00CE54;
  color: #fff;
}
.about-meet-tabs .nav-pills {
  margin: 0 !important;
  display: flex;
  gap: 12px;
  padding: 60px 0 20px;
}
.about-meet-tabs .nav-link.active {
  background-color: #00CE54;
  color: #fff;
}
#meet-team {
  background-color: #fff;
  padding: 100px 0 90px;
}
.who-we-are .h2 {
  position: relative;
}
.who-we-are .h2:before {
  content: "";
  position: absolute;
  background-image: url('../images/tabs-green.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 205px;
  height: 141px;
  bottom: 50%;
  left: 30%;
}
.who-we-are-left-content {
  max-width: 620px;
  margin-left: 318px;
}
.who-we-are-wrap::after {
  position: absolute;
  content: '';
  background-image: url('../images/about-layout-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 695px;
  height: 686px;
  right: -8%;
  top: 6%;
}
.who-we-are-right {
  width: 50%;
  gap: 28px;
  margin-left: auto;
  position: relative;
  z-index: 1;
}
.about-images {
  gap: 28px;
}
.about-image img {
  border-radius: 12px;
}
.history-gift-right {
  gap: 28px;
}
.history-gift-left p {
  font-size: 14px;
  line-height: 20px;
}
.history-gift-wrap {
  padding: 100px 0;
  background: radial-gradient(100.43% 101.28% at 65.91% 9.65%, rgba(251, 248, 255, 0) 0%, #FBF8FF 100%);
}
.history-gift-text {
  gap: 20px;
  padding: 28px 0;
}
.history-gift-left {
  max-width: 400px;
}
.history-gift-icon {
  background-image: url('../images/mbe-layout.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}
.history-gift-right::before {
  content: "";
  position: absolute;
  width: 550px;
  height: 550px;
  background-image: url('../images/layout-blur.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
  top: -20%;
}
.history-gift-area:nth-child(2) .history-gift-right::before {
  content: "";
  position: absolute;
  background-image: url('../images/history-layput.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  right: 25%;
  width: 758px;
  height: 758px;
  transform: rotate(270deg);
}
.history-gift-left p {
  padding-bottom: 20px;
}
.about-image {
  position: relative;
  z-index: 1;
}
.history-gift-area {
  padding-bottom: 80px;
  z-index: 1;
}
.history-gift-list .history-gift-area:nth-child(2) {
  flex-direction: row-reverse;
  padding-bottom: 0;
}
.history-date-slide {
  position: relative;
  z-index: 2;
  padding: 100px 0 60px;
  background: radial-gradient(99.2% 100% at 61.28% 0%, #F6F0FD 0%, #FBF8FF 100%);
}
.how-we-help-wrap {
  padding: 100px 0;
  background: radial-gradient(58.11% 36.65% at 76.53% 33.57%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%),
linear-gradient(360deg, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0) 59.98%);
}
.how-we-help-left, .how-we-help-right {
  width: 50%;
}
.how-we-left-content {
  max-width: 510px;
  margin-left: 318px;
}
.how-we-help-right {
  gap: 32px;
}
.how-we-help {
  gap: 12px;
}
.how-we-help::before {
  position: absolute;
  content: "";
  background-image: url('../images/help-layout.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 758px;
  height: 758px;
  right: -2%;
  transform: rotate(270deg);
  bottom: -17%;
}
.how-we-left-content h2 {
  padding-bottom: 60px;
}
.how-we-left-content p {
  padding-bottom: 20px;
}
.social-img {
  border-radius: 100%;
  background-color: #00CE54;
  width: 40px;
  height: 40px;
}
.accordion-body-left {
  max-width: 620px;
}
.gift-follow {
  padding: 52px 0 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #000;
}
.accordion-body-left ul {
  list-style-type: disc;
  padding-left: 18px;
}
.accordion-body {
  padding: 0 0 40px;
}
.accordion-button:focus {
  box-shadow: none;
}
.social-area a:hover {
  color: #00a945;
}
.gift-services h2:first-of-type {
  padding-bottom: 40px;
  border-bottom: 1px solid #E9E9E9;
}
.accordion-header {
  padding-bottom: 0 !important;
}
.accordion-button:not(.collapsed) {
  color: #000;
  background-color: transparent;
  box-shadow: none
}
.accordion-button {
  font-family: "Museo Sans Rounded 700";
  padding: 32px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #000;
  border: 0 !important;
  background-color: transparent;
  border-top: 1px solid #E9E9E9;
}
.accordion-body-left ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #58585B;
}
.accordion-button::after {
  border-radius: 100%;
  background-color: transparent;
  width: 48px;
  height: 48px;
  border: 1px solid #00CE54;
  transition: all 0.3s ease-in-out;
}
.accordion-button::after:hover {
  background-color: #00B64A;
  border: 1px solid transparent;
}
.accordion-body-right {
  padding: 32px;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #F0E9FB;
  max-width: 400px;
  box-shadow: 0px 32px 140px -16px rgba(0,0,0,0.08) ;
}
.help-list-area {
  padding: 28px 24px;
  background-color: #fff;
  border: 1px solid #E5F8ED;
  box-shadow: 0px 32px 140px -16px rgba(0,0,0,0.08) ;
  border-radius: 12px;
  margin-bottom: 36px;
}
.help-list-text a:hover {
  color: #00B64A;
}
.help-list-icon {
  background-image: url('../images/help-green-layout.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 80px;
  height: 80px;
}
.help-list-text {
  gap: 24px;
  padding-bottom: 28px;
}
.help-list-area ul {
  padding-left: 17px;
}
.find-services {
  padding: 60px 0 64px;
}
.help-list-area ul li {
  list-style-type: disc;
  color: #58585B;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.help-list-area p {
  padding-bottom: 24px;
  font-size: 14px;
  line-height: 20px;
}
.accordian-social {
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #000;
}
.accordion-item {
  background-color: transparent;
}
.social-area {
  gap: 8px;
  padding-top: 8px;
}
.content-author {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #000000;
  padding-top: 24px;
}
.our-events .custom-arrows {
  display: none;
}

.we-are-content {
  margin: 32px 0;
  padding: 32px 28px 32px 108px;
  background-color: #fff;
  position: relative;
  border-radius: 12px;
  border: 1px solid #F4F4F4;
  box-shadow: 0px 32px 140px -16px rgba(0,0,0,0.08);
}
.we-are-content:before {
  position: absolute;
  content: "";
  background-image: url(../images/gift-quotes.png);
  left: 4%;
  top: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 52px;
  height: 42px;
}
.who-we-are-left {
  width: 50%;
}
.who-we-are-left p {
  color: #000;
}
.who-we-are-left h2 {
  padding-bottom: 60px;
}
.who-we-are {
  gap: 32px;
}
.who-we-are-wrap {
  position: relative;
  padding: 120px 0 100px;
  background: radial-gradient(25.78% 43.1% at 35.5% 46.62%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}
.select-menu {
  max-width: 510px;
  margin-bottom: 20px;
}
.select-menu .select-btn:focus {
  border: 1px solid #00B64A;;
}

.select-menu .select-btn:hover{
  border: 1px solid #00B64A;
  border-radius: 6px;
}
.select-menu .select-btn:active{
  border: 1px solid #00B64A;
}
.select-menu .select-btn {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #929292;
  margin: 0;
  border: 1px solid #D8D8D8;
  height: 48px;
  padding: 15px;
  border-radius: 6px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}
.options-listing li.selected {
  background-color: transparent; 
  color: #58585B; 
  font-weight: 500;

}
.options-listing li:hover {
  background-color: rgba(0,206,84,0.06);
}
.options-listing li:last-child {
  border: 0;
}
.select-btn img {
  transition: all 0.3s ease-in-out;
}

.select-menu.active .select-btn img {
  transform: rotate(-180deg);
}
.select-menu .options-listing {
  max-width: 510px;
  width: 100%;
  position: absolute;
  overflow-y: auto;
  margin-top: 8px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #D8D8D8;
  display: none;
}
.options-listing li {
  color: #929292;
  font-size: 14px;.our-founder
  line-height: 20px;
  font-weight: 400;
  padding: 12px 16px;
  border-bottom: 1px solid #D8D8D8;
  cursor: pointer;
}
.select-menu.active .options-listing {
  display: block;
  z-index: 10;
}
.our-founder-content {
  width: 35%;
  background-color: #654595;
}
.our-founder-bg-content {
  max-width: 528px;
}
.our-founder {
  width: 65%;
}
.our-founder-counter-area {
  max-width: 783px;
  margin-left: auto;
}
.gift-people-work-wrap {
  background-color: #fff;
  padding: 100px 0 160px;
  position: relative;
}
.gift-people-work-wrap::after, .join-team-empty-wrap::after, .join-team-role-wrap::after {
  position: absolute;
  content: "";
  background-image: url(../images/black-pattern.png);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 4%;
}
.our-founder-list  {
  width: 100%;
}
.people-work {
  width: 50%;
}
.people-work-content {
  max-width: 510px;
  padding: 0 15px;
  margin-right: 140px;
  margin-left: auto;
}
.people-image {
  width: 50%;
}
.people-work-image {
  padding-left: 15px;
  gap: 28px;
  margin-left: auto;
  max-width: 780px;
}
.work-image {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.work-image img {
  border-radius: 12px;
}
.people-work h2 {
  padding-bottom: 40px;
}
.people-work-content p {
  padding-bottom: 20px;
}

.join-team-box {
  padding: 28px 24px;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 32px;
  box-shadow: 0px 32px 140px -16px rgba(0,0,0,0.08);
}
.join-team-icon {
  width: 36px;
  height: 36px;
  background-color: #F0E9FB;
  border-radius: 100%;
}
.join-team-item-content {
  padding-left: 8px;
  width: calc(100% - 36px);
}
.join-team-ans {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.join-team-ques {
  font-size: 10px;
  line-height: 14px;
  font-weight: 500;
  color: #AFAFAF;
  text-transform: uppercase;
}
.join-team-listing {
  padding-bottom: 20px;
}
.join-team-listing li {
  padding-bottom: 12px;
}
.join-deadline {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #AFAFAF;
  padding-top: 16px;
}
.join-team-offer-wrap {
  padding: 100px 0 52px;
}
.join-offer-content {
  max-width: 620px;
  margin-left: 150px;
}
.join-offer-content p {
  padding-bottom: 48px;
  color: #000;
}
.join-offer-content p:last-child {
  padding-bottom: 32px;
}
.join-offer-content h5 {
  padding: 48px 0 32px;
  border-top: 1px solid #D8D8D8;
}
.join-offer-content h5 + p {
  padding-bottom: 32px;
}
.join-offer-content ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  padding-bottom: 8px;
}
.join-offer-content ul {
  padding-bottom: 48px;
  list-style-type: disc;
  padding-left: 16px;
}
.apply-now-modal .modal-content {
  min-width: 600px;
  padding: 32px;
  border-radius: 12px;
}
.btn-close {
  overflow: hidden;
  position: relative;
}
.apply-now-modal .btn-close {
  background-image: url('../images/applu-close.svg');
  opacity: 1;
  padding: 0;
  width: 48px;
  height: 48px;
  border: 1px solid #00CE54;
  border-radius: 100%;
}
.modal-header, .modal-footer, .modal-body {
  padding: 0;
  border: 0;
} 
.apply-now-modal .modal-body {
  padding: 32px 0 28px;
}
.apply-now-modal .btn-close:focus {
  box-shadow: none;
}
.application-type {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 16px;
}
.modal-body-type {
  padding-bottom: 8px;
}
.modal-body-type .form-control {
  margin-bottom: 24px;
}
.file-length {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #AFAFAF;
}

.application-upload {
  text-align: center;
  padding: 24px 15px 28px 15px;
  border: 1px dashed #AFAFAF;
}
.review-slide-content h6 {
  padding: 32px 0 4px;
}
.review-slide-content {
  padding: 28px 24px;
  border-radius: 12px;
  background-color: #00CE54;
}
.review-slider .slick-dots {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 60px;
}
.review-slider .slick-dots button {
  border-radius: 100%;
  appearance: none;
  width: 8px;
  height: 8px;
  border: 1.2px solid #AFAFAF;
  background-color: transparent;
  font-size: 0;
  margin: 0;
}
.review-slide-content p {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
.review-slide-content h6 {
  color: #fff;
}
.review-author {
  position: relative;
}
.review-slide {
  padding: 0 20px;
  position: relative;
}
.review-slider {
  margin: 0 -20px;
}
.gift-review-wrap {
  padding-top: 60px;
}
.review-author::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url('../images/green-quotes.svg');
  width: 68px;
  height: 52px;
}
.review-slider .slick-dots .slick-active button {
  background-color: #00A945;
  border: 0;
}
.join-team-empty-wrap {
  padding: 100px 0;
  text-align: center;
  background: radial-gradient(71.35% 71.35% at 65.91% 9.65%, rgba(251, 248, 255, 0) 0%, #FBF8FF 100%);
}
.join-no-role img{
  width: 64px;
  height: 64px;
  background-image: url('../images/blue-bg-layout.svg');
}
.join-team-empty {
  max-width: 620px;
  margin: 0 auto;
}
.join-team-empty h4, .join-team-empty p {
  text-align: center;
}
.join-team-empty h4 {
  padding: 40px 0 12px;
}
.uplaod-cv-role input {
  max-width: 160px;
  margin: 0 auto;
  padding-top: 30px;
}
.role-conditions-listing {
  gap: 44px;
  padding-top: 32px;
}
.join-current-role {
  padding: 28px 24px;
  border-radius: 12px;
  background-color: #fff;
  margin-top: 28px;
}
.join-current-role h5 a:hover {
  color: #00CE54;
}
.join-team-role h2 {
  padding-bottom: 12px;
}
.join-team-role {
  position: relative;
  z-index: 1;
}
.join-team-role-wrap {
  position: relative;
  padding: 80px 0;
  background: radial-gradient(71.35% 71.35% at 65.91% 9.65%, rgba(251, 248, 255, 0) 0%, #FBF8FF 100%);
}
.file-label:after {
  z-index: 1;
  content: "Upload CV";
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 24px;
  color: #FFFFFF;
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 40px;
  background-color: #00CE54;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  background-image: url('../images/arrow-btn.svg');
  background-repeat: no-repeat;
}
.join-team-empty input[type='file'] {
  opacity: 0;
  cursor: pointer;
  z-index: 99;
  height: 50px;
}
.file-group {
  display: flex;
  position: relative;
  cursor: pointer;
  max-width: 160px;
  margin: 0 auto;
  margin-top: 28px;
}

/* .file-label:after {
  z-index: 1;
  content: "Choose File";
  position: absolute;
  background-color: #2F4E63;
  right: 0;
  top: 0;
  display: inline-block;
  padding: 12px 24px;
  margin: 6px 16px 6px 0;
  color: #fff;
  line-height: 24px;
  font-size: 16px;
  font-weight: 24;
  border-radius: 50px;
}
input[type='file'] {
  opacity: 0;
  width: 100%;
  height: 48px;
  cursor: pointer;
  z-index: 999;
}
.file-group {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  line-height: 28px;
  color: #64748B;
  font-weight: 500;
  height: 60px;
  padding: 8px 12px;
  border: 1px solid #D4D9D5;
  border-radius: 8px;
  background-color: rgba(212, 217, 213, 0.3);
}
.file-label span {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 24;
  color: #64748B;
} */








